@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">PROJECT NO -09</h2>
    <p>ASP.NET Core.</p>
    <h4>Project Authorised By</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            
                Trainee: Kazi Alauddin
                <br />
                TraineeId:1247335
                <br />
                Round:39
                <br />
                BatchID: ESAD-CS/ACSL-M/39/01
            </div>
    
    </div>
</div>
