@model Project_09.Models.Batch

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Batch</h4>
<hr />
<div class="row">
    <div id="ajaxdiv">

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Home" id="FrameCreate" data-ajax-method="Post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ajaxdiv" data-ajax-success="success">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BatchName" class="control-label"></label>
                <input asp-for="BatchName" class="form-control" />
                <span asp-validation-for="BatchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseHours" class="control-label"></label>
                <input asp-for="CourseHours" class="form-control" />
                <span asp-validation-for="CourseHours" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" asp-controller="Batches" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
<script>
        function success() {
            $("#FrameCreate").trigger('reset');
        }
</script>
        }
}
